.searchBtn{
  background-color: #FF385C;
  border: none;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  cursor: pointer;
  &:before{
    position: absolute;
    content:"";
    background-image: url("../../../public/search-icon.png");
    top:4px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-size: cover;
  }
}