.sectionMain{
  position: relative;
  background-position: center;
  background-image: url('../../../../public/main-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  .search{
    box-shadow: 1px 3px 13px 6px rgba(34, 60, 80, 0.26);
    max-width: 924px;
    background-color: #ffffff;
    margin: 100px auto 0;
    border-radius: 13px;
  }
  .containerTitle{
    margin-top: 200px;
    font-size: 46px;
    color:#fff;
    font-weight: 700;
    line-height: 4rem;
  }
  .title1{
    padding-left: 15px;
    max-width: 360px;
    background-color: #3e92a0;
  }
  .title2{
    padding-left: 15px;
    max-width: 481px;
    background-color: #38b5e6;
  }
  .container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 15px;
  }
  .btn{
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #FF385C;
    border: none;
    color:#fff;
  }
}