.header{
  box-shadow: 4px 3px 8px 0px rgba(34, 60, 80, 0.2);
  .wrapper{
    padding: 25px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .search-location{
    width: 110px;
    height: 30px;
    padding: 5px;
    margin-right: 5px;
  }
  .search-date{
    height: 30px;
    width: 125px;
    padding: 5px;
    margin-right: 5px;
  }
}
