.select, .option{
  background-color: #f0f0f0;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 16px;
  background-color: #fff;
  width: 105px;
  height: 37px;
}
.div{
  color: #545454;
  margin-left: 3px;
}
.label{
  padding: 15px 20px;
  border-radius: 30px;
  &:hover{
    background-color: #f0f0f0;
    border:transparent;
    input, select{
      background-color: #f0f0f0;
    }
  }
}