.sectionMain{}
.sectionMainLeft{}
.sectionMainRight{}
.mainWrapper{padding-top: 55px;}
.mainInfo{padding-top: 30px;
  display: flex;
  justify-content: space-between;}
.titleLocation{
  font-size: 26px;
  font-weight: bold;
  line-height: 36px;
  padding-top: 30px;
}
.sectionMainRight{}
.map{
  padding-top: 30px;
  padding-bottom: 30px;
}
.container{
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}