.map{
  width: 56vw;
  height: 82vh;
}
.input{
  position: absolute;
  width: 500px;
  padding: 10px;
  display: block;
}
.geo{
  position: absolute;
  z-index: 1000;
  width: 80px;
  height: 24px;
  border:1px solid #cccccc;
  background-color: #fff;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  top:0;
  right:0
}