html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
button{
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
*,h1,h2,h3,h4,h5,h6,a,p,button,span,option,select,input,div{
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}
